/***** 

reset

*****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/***** 

header      sarebbe stato meglio avere l'immagine sfondo non in tutto l'header ma solo nel jumbotron 

*****/

header {
    /*background-color: #add8e6;*/ 
    background-image: url(/img/jumbo.png);
    background-size: cover;    
}

.header-container{
    display: flex;
    justify-content: center;
    padding: 16px 200px 16px;
}

/*#logoheader {
    width: 240px;  
}*/

#logoheader,
.logo {
    width: 240px;
    flex-shrink: 0;
    align-self: center;   
}

.nav{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    align-self: center;
    font-size: 25px;
}

.nav ul{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
}

.login {
    text-align: end;
    align-self: center;   
    color: #000000;
    font-size: 25px;
    padding: 28px;
    border-radius: 40px ;
}

/* 

jumbotron  

*/

.section-header-container {
    margin-bottom: 5px;
    display: flex;
}

.jumbotron {
    /*margin: 50px 505px 50px;*/
    flex-grow: 1;
    text-align: center;
    color: #FFFFFF;
    font-size: 50px;
    padding: 5% 0;
    }

.jumbotron > p {
    font-size: 20px;
    line-height: 30px;
    padding: 50px;
}

/********** 

button              tutti i bottoni in realtà sono dei link in quanto linkeranno altre cose

**********/
.button-left-head {
    color: #000000;
    font-size: 25px;
    background-color: #FFFFFF;
    padding: 28px;
    border-radius: 40px ;
    border-color: #FFFFFF;
}

.button-right-head {
    color: #FFFFFF;
    font-size: 25px;
    background-color: #000000;
    padding: 28px;
    border-radius: 40px ;
    border-color: #000000;
}


/***** 

main

*****/

.main-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5% 0;
}

#second-section {   
    background-color: #d3d3d3;
}


.box-big {
    /*width: 720px;*/
    /*flex-shrink: 0;
   /*margin: 50px 0 50px 360px;*/
   color: #000000;
   
}

.box-small {
    /*flex-grow: 1;
    /*margin: 50px 360px 50px 0;*/
    color: #000000;
    
}


.box-small > h2,
.main3 > h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.box-small > p,
.main3 > p {
    font-size: 20px;
    line-height: 35px;
}

/*
#main1 {
    margin: 50px 0 50px 360px;
}

#main2 {
   margin: 50px 360px 50px 0;
}
   */

.last-section {
    display:flex;                                       
    background-color: #d3d3d3;
}

.main3 {
    flex-grow: 1;
    margin: 50px 360px 50px;   /* da togliere*/
    text-align: center;
}

/*
.main3 > h2 {
    font-size: 50px;
    padding-bottom: 20px;    
}
    */

/*.main3 > p {
    font-size: 20px;
    line-height: 35px;  
}
*/

.last-section-imagesfondo {                                 
    font-size: 25px;
}
 

.button-last-section {
    color: #000000;
    font-size: 25px;
    background-color: #7288da;
    padding: 28px;
    border-radius: 40px ;
    margin-top: 100px;
}

/***** 

footer

*****/

.footer-container-big{
    display: flex;                                     
    background-color: #23272a;
    /*padding-top: 170px;*/
    margin: 0 auto;
    padding: 150px 200px 0px;
}

/*****

footer high

*****/

.footer-left {
    width: 360px;
    /*flex-shrink: 0;*/
    /*margin: 12px 0 40px 360px;*/
    line-height: 40px;
    padding-bottom: 80px;
    display: flex;
    border-bottom: #7288da 2px inset;

}

.footer-left > section > h3 {
    color: #7288da;
    font-size: 40px;
    line-height: 60px; 
}

.ita {
    width: 50px;
    height: 33px;
}
.itaspan {
    font-size: 25px;
    color: #FFFFFF;
}
.icon {
    font-size: 34px;
    color: #FFFFFF;  
}

.footer-right{
    display: flex;
    flex-grow: 1;
    font-style: bold;
    /*margin: 12px 360px 40px 0;*/  
    border-bottom: #7288da 2px inset; 
}

.in-footer-dx {
    flex-grow: 1; 
    padding-bottom: 80px; 
}

.in-footer-dx > ul {
    list-style-type: none;
    line-height: 55px;
    color: #FFFFFF;
    font-size: 25px;
}

.in-footer-dx > h4 {
    list-style-type: none;
    line-height: 55px;
    color: #7288da;
    font-size: 25px;
}

/*****

footer down

*****/

.footer-container-small{
    display: flex;                                       
    background-color: #23272a;
    justify-content: center;
    margin: 0 auto;
}


.footer1 {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;  
    padding: 10px 200px;
}

#logo-ft{
    align-self: center;
}

.logofooter {
    width: 250px;
}

#button-ft {
    background-color: #7288da;
    align-self: center;
    font-size: 25px;
    padding: 25px;
    border-radius: 20px ;
}




